.top img{
    height:300px;
    width:1325px;
}
body{
    background-color: #0d0d0d;
}
.music{
    opacity:1;
}
.row img{
    height: auto;
    width: 500px;
}
.row p{
    font-size:30px;
    font-family:"Arial";
}
@font-face{
    font-family: myFirstFont;
    src: url(bignoodletoooblique);
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.collapse navbar-collapse li{
    font-family: arial;
}
.everything{
    background-color: #0d0d0d;
}
